torch==1.13.1
numpy==1.24.2
pytorch-ignite==0.4.10
gin-config==0.5.0
pathos
sklearn
lightgbm
tqdm
pandas
pyarrow
tensorboard
hyperimpute
pytorch_lightning
torchmetrics
wandb
# pypots
mypy
flake8
flake8-docstrings
recipys@git+https://github.com/rvandewater/recipys.git
scikit-optimize
